body{
     min-height: 100vh;
     box-sizing: border-box;
     margin: 0;
     width: 100%;
     overflow-x:hidden ;
     font-family: 'Poppins', sans-serif;
}
input:focus,
textarea:focus,
select:focus{
     outline: none;
}
.section-container{
     box-sizing: border-box;
     min-height: 100vh;
     position: relative;
     display: flex;
     flex-direction: column;
     padding: 50px 0;
     justify-content: center;
     align-items: center;
     align-content: center;
}