.header-container{
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 60%;
     align-self: center;
}
.header-container>h1{
     font-family: Poppins;
     font-weight: 500;
     font-size:3em;
     line-height:57px;
     text-align: center;
     letter-spacing: 0.2px;
     color:#000;
     margin:0;
}
.header-container>p{
     font-family: Poppins;
     font-size: 1.8em;
     font-style: normal;
     font-weight: 200;
     line-height: 1.4em;
     text-align: center;
     margin:10px 0;
}